<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Healthcare+</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='healthcare-icon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://kit.fontawesome.com/5f3f547070.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">


    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h2 class='container-heading'><span class="heading_font">HEALTHCARE<strong>+</strong></span></h2><br>
            <div class='description'>
    			<p>A Machine Learning Based Desease Predictor Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>
    	
        <div class="topnav">
          <a class="active" href="/">Home</a>
          <a class="active1" >Our Predictors |</a>
          <a class="active1" href="/cancer">Cancer</a>
          <a class="active1" href="/diabetes">Diabetes</a>
          <a class="active1" href="/heart">Heart</a>
          <a class="active1" href="/kidney">Kidney</a>
          <a class="active1" href="/liver">Liver</a>
        </div>
        <br>
        
        <!------------------------------------       CONTENT SPACE     ------------------------------------->

        <!-- Top Heading -->
        <div>
        <h3 class="top-heading"><u><span style="font-family: Tahoma, Geneva, sans-serif;">A MACHINE LEARNING BASED MEDICAL APPLICATION</span></u></h3>
        </div>
        
        <!-- Opening Para -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;">The prediction about the disease 
        is made with the help of the machine learning model which is trained on the thousands of data points collected
        through surveys.
        <br>
        So with the following health content, I will be describing the types of diseases which will be getting 
        employed on this app.</span>
        </p>
        </div>
        
        <!-- Headings -->
        <!-- Breast Cancer -->
        <div>
        <h3 class="under-heading"><span style="font-family: Tahoma, Geneva, sans-serif;">1. Breast Cancer:</span></h3>
        </div>

        <!-- Under paragraph -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;">Breast cancer is a disease in which cells in the breast 
        grow out of control. There are different kinds of breast cancer. The kind of breast cancer depends on which 
        cells in the breast turn into cancer.<br><br>Breast cancer can begin in different parts of the breast. A 
        breast is made up of three main parts: lobules, ducts, and connective tissue. The lobules are the glands 
        that produce milk. The ducts are tubes that carry milk to the nipple. The connective tissue (which consists 
        of fibrous and fatty tissue) surrounds and holds everything together. Most breast cancers begin in the ducts 
        or lobules.<br><br>Breast cancer can spread outside the breast through blood vessels and lymph vessels. When 
        breast cancer spreads to other parts of the body, it is said to have metastasized.</span></p>
        </div>
        
        <!-- Sub heading -->
        <div>
        <h3 class="under-sub-heading" ><span style="font-family: Tahoma,Geneva, sans-serif;">Symptoms:</span></h3>
        </div>
        
        <!-- Under Sub heading -->
        <div>
        <ul  class="paragraph">
        <li><span style="font-family: Tahoma,Geneva, sans-serif;">A breast thickening that feels different from the surrounding tissue.</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Change in the size, shape, or appearance of a breast.</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Changes to the skin over the breast, such as dimpling.</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Peeling, scaling, crusting, or flaking of the pigmented area of skin surrounding the nipple (areola) or breast skin.</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">A newly inverted nipple.</span></li>
        </ul>
        </div>
        
        <!-- Sub heading -->
        <div>
        <h3 class="under-sub-heading" ><span style="font-family: Tahoma,Geneva, sans-serif;">Causes:</span></h3>
        </div>
        
        <!-- Under Sub heading -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;">Doctors know that breast cancer 
        occurs when some breast cells begin to grow abnormally. These cells divide more rapidly than healthy cells 
        do and continue to accumulate, forming a lump or mass. Cells may spread (metastasize) through your breast 
        to your lymph nodes or to other parts of your body.Breast cancer most 
        often begins with cells in the milk-producing ducts (invasive ductal carcinoma). Breast cancer may also 
        begin in the glandular tissue called lobules (invasive lobular carcinoma) or in other cells or tissue 
        within the breast.<br style="box-sizing: border-box;"><br>Researchers have identified hormonal, lifestyle, 
        and environmental factors that may increase your risk of breast cancer. But it&apos;s not clear why some 
        people who have no risk factors develop cancer, yet other people with risk factors never do. It&apos;s 
        likely that breast cancer is caused by a complex interaction of your genetic makeup and your environment.
        </span></p>
        </div>
        
        <!-- Headings -->
        <!-- Diabetes -->
        <div>
        <h3 class="under-heading"><span style="font-family: Tahoma, Geneva, sans-serif;">2. Diabetes:</span></h3>
        </div>
        
        <!-- Under paragraph -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;">Diabetes is a condition 
        that impairs the body&rsquo;s ability to process blood glucose, otherwise known as blood sugar.&nbsp;
        It is a disease that occurs when your blood glucose, is too high. Blood glucose is your
        main source of energy and comes from the food you eat.</span></p>
        </div>
        
        <!-- Sub heading -->
        <div>
        <h3 class="under-sub-heading" ><span style="font-family: Tahoma,Geneva, sans-serif;">Types:</span></h3>
        </div>
        
        <!-- Under Sub heading -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;"><strong>Type I diabetes:
        </strong> Also known as juvenile diabetes, this type occurs when the body fails to produce insulin. People 
        with type I diabetes are insulin-dependent, which means they must take artificial insulin daily to stay alive
        .<br><br><strong>Type 2 diabetes:&nbsp;</strong>Type 2 diabetes affects the way the body uses insulin. While 
        the body still makes insulin, unlike in type I, the cells in the body do not respond to it as effectively as 
        they once did. This is the most common type of diabetes, according to the National Institute of Diabetes and
         Digestive and Kidney Diseases, and it has strong links with obesity.<br><br><strong>Gestational diabetes:
         </strong> This type occurs in women during pregnancy when the body can become less sensitive to insulin. 
         Gestational diabetes does not occur in all women and usually resolves after giving birth.
         </span></p>
        </div>
        
        <!-- Sub heading -->
        <div>
        <h3 class="under-sub-heading" ><span style="font-family: Tahoma,Geneva, sans-serif;">What health problems can 
        people with diabetes develop?</span></h3>
        </div>
        
        <!-- Under Sub heading -->
        <div>
        <ul  class="paragraph">
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Strokes</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Heart disease</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Eye Problems</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Dental Disease</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Nerve Damage</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Foot Problems</span></li>
        </ul>
        </div>
        
        <!-- Headings -->
        <!-- Heart Disease -->        
        <div>
        <h3 class="under-heading"><span style="font-family: Tahoma, Geneva, sans-serif;">3. Heart Disease:</span></h3>
        </div>       
        
        <!-- Under paragraph -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;">Heart disease describes a range of conditions that affect your heart. Diseases under 
        the heart disease umbrella include blood vessel diseases, such as coronary artery disease; heart rhythm 
        problems (arrhythmias); and heart defects you're born with (congenital heart defects), among others.<br><br>
        The term 'heart disease' is often used interchangeably with the term 'cardiovascular disease.' Cardiovascular 
        disease generally refers to conditions that involve narrowed or blocked blood vessels that can lead to a 
        heart attack, chest pain (angina) or stroke. Other heart conditions, such as those that affect your heart's 
        muscle, valves or rhythm, also are considered forms of heart disease.
        </span></p>
        </div>
        
        <!-- Sub heading -->
        <div>
        <h3 class="under-sub-heading" ><span style="font-family: Tahoma,Geneva, sans-serif;">Symptoms:</span></h3>
        </div>
        
        <!-- Under Sub heading -->
        <div>
        <p class="paragraph" ><span style="font-family: Tahoma,Geneva, sans-serif;">Cardiovascular disease symptoms 
        may be different for men and women. For instance, men are more likely to have chest pain; women are more 
        likely to have other symptoms along with chest discomforts, such as shortness of breath, nausea, and extreme 
        fatigue. <br><br>
        Symptoms can include:
        </span></p>
                
        <ul  class="paragraph">
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Shortness of breath.</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Chest pain, chest tightness, chest pressure, and chest discomfort.</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Pain in the neck, jaw, throat, upper abdomen, or back.</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Pain, numbness, weakness, or coldness in your legs or arms if the blood vessels in those parts of your body are narrowed.</span></li>
        </ul>
        </div>
        
        
        <!-- Headings -->
        <!-- Kidney Disease -->         
        <div>
        <h3 class="under-heading"><span style="font-family: Tahoma, Geneva, sans-serif;">4. Kidney Disease:</span></h3>
        </div>       
        
        <!-- Under paragraph -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;">The kidneys are two bean-shaped 
        organs. Each kidney is about the size of a fist. Your kidneys filter extra water and wastes out of your 
        blood and make urine. Kidney disease means your kidneys are damaged and can’t filter blood the way they 
        should.<br><br> You are at greater risk for kidney disease if you have diabetes or high blood pressure. If 
        you experience kidney failure, treatments include kidney transplant or dialysis. Other kidney problems 
        include acute kidney injury, kidney cysts, kidney stones, and kidney infections.
        </span></p>
        </div>

        <!-- Sub heading -->
        <div>
        <h3 class="under-sub-heading" ><span style="font-family: Tahoma,Geneva, sans-serif;">Symptoms:</span></h3>
        </div>
        
        <!-- Under Sub heading -->
        <div>
        <p class="paragraph" ><span style="font-family: Tahoma,Geneva, sans-serif;">Signs and symptoms of chronic 
        kidney disease develop over time if kidney damage progresses slowly. Signs and symptoms of kidney disease 
        may include:
        </span></p>
        <ul  class="paragraph">
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Nausea</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Vomiting</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Sleep problems</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Loss of appetite</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Persistent itching</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Fatigue and weakness</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Decreased mental sharpness</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Muscle twitches and cramps</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Swelling of feet and ankles</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Changes in how much you urinate</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Shortness of breath, if fluid builds up in the lungs</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Chest pain, if fluid builds up around the lining of the heart</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">High blood pressure (hypertension) that's difficult to control</span></li>
        </ul>        
        </div>
                                                            
        <!-- Headings -->
        <!-- Liver Disease -->         
        <div>
        <h3 class="under-heading"><span style="font-family: Tahoma, Geneva, sans-serif;">5. Liver Disease:</span></h3>
        </div>       
        
        <!-- Under paragraph -->
        <div>
        <p class="paragraph"><span style="font-family: Tahoma,Geneva, sans-serif;">The liver plays an important role 
        in many bodily functions from protein production and blood clotting to cholesterol, glucose, and iron 
        metabolism.<br><br> Many diseases and conditions can affect the liver, for example, certain drugs like 
        excessive amounts of acetaminophen, and acetaminophen combination medications like Vicodin and Norco, as 
        well as statins, cirrhosis, alcohol abuse, hepatitis A, B, C, D, and E, infectious mononucleosis (Epstein 
        Barr virus), nonalcoholic fatty liver disease (NASH), and iron overload (hemochromatosis).
        </span></p>
        </div>                                                     
                                                            
        <!-- Sub heading -->
        <div>
        <h3 class="under-sub-heading" ><span style="font-family: Tahoma,Geneva, sans-serif;">Symptoms:</span></h3>
        </div>
        
        <!-- Under Sub heading -->
        <div>
        <p class="paragraph" ><span style="font-family: Tahoma,Geneva, sans-serif;">Signs and symptoms associated 
        with liver disease vary and are dependent upon the exact type of liver disease that is present. Examples of 
        signs and symptoms of liver disease include:
        </span></p>
        <ul  class="paragraph">
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Nausea</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Jaundice</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Vomiting</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Itchy Skin</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Bloody Stool</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Easy Bruising</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Chronic Fatigue</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Loss of appetite</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Dark Urine Color</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Tar-colored Stool</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Abdominal Pain and Swelling</span></li>
        <li style="box-sizing: border-box;"><span style="font-family: Tahoma,Geneva, sans-serif;">Swelling in the ankles and legs</span></li>
        </ul>        
        </div>                                                    
        <!------------------------------------       CONTENT SPACE FINISHED    ------------------------------------->
   
        <br>
        <br>
        <br>
        <br>

        <!-- Footer -->
       <div class='footer'>
           <div class="contact">
               <a target="_blank" href="NONE"><i class="fab fa-github fa-lg contact-icon"></i></a>
               <a target="_blank" href="NONE"><i class="fab fa-linkedin fa-lg contact-icon"></i></a>
           </div>
           <p class='footer-description'>Made with ❤️ by Vishal Mandrai</p>
       </div>

    </body>
</html>